.typewriter-container {
  display: inline-block;
  font-size: 1.2rem;
  color: #2b87ff;
  font-weight: 500;
}

.typewriter-text {
  display: inline-block;
}

.typewriter-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  color: #2b87ff;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}